/* 
 * This stylesheet is used by the FloatNotes extension for Firefox.
 */


/*  ----- Note style ----- */

.floatnotes-note {
    border: 1px solid black !important;
    font-family: Arial, sans-serif !important;
    text-align:left !important;
    min-height: 8px !important;
    min-width:16px !important;
    opacity:1 !important;
    -moz-box-shadow: 0px 0px 5px #888 !important;
    -moz-border-radius: 5px !important;
    padding:5px !important;
    position: absolute !important;
}

.floatnotes-note * {
    padding:0 !important;
    margin:0 !important;
    font-size: 13px !important;
}

.floatnotes-note.small {
    max-height:8px !important;
    max-width:16px !important;
    -moz-border-radius: 7px !important;
    -moz-border-radius-bottomright: 0 !important;
    opacity: 0.8 !important;
    -moz-box-shadow: none !important;
}

.floatnotes-note.fixed {
    position: fixed !important;
    border-width: 2px !important;
}

.floatnotes-note.small > * {
    display:none !important;

}

.floatnotes-note.note-edit {
    border-color: red !important;
    border-width:2px !important;
}

.floatnotes-note ul, .floatnotes-note ol {
    padding-left:30px !important;;
}

.floatnotes-note .floatnotes-drag{
    background-color: #706C6C !important;
    height: 20px !important;
    cursor: move !important;
    margin-top:-17px !important;
    border:1px solid black !important;
    width: 100% !important;
    display: none;
    -moz-box-shadow: 0px 0px 5px #888 !important;
    text-align: right !important;
    vertical-align: middle !important;
    line-height: 20px !important;
}

.floatnotes-note .floatnotes-togglefix {
	display: inline-block !important;
	font-size:28px !important;
	color:white !important;
    line-height: 20px !important;
    cursor: pointer !important;
}

.floatnotes-note.fixed .floatnotes-togglefix{
    color: black !important;
}

.floatnotes-note .floatnotes-resize{
    border:1px solid black !important;
    background-color: #706C6C !important;
    width: 20px !important;
    height: 20px !important;
    position: absolute !important;
    right: -5px !important;
    bottom: -5px !important;
    cursor: se-resize !important;
    display: none;
    -moz-box-shadow: 0px 0px 5px #888 !important;
}

.floatnotes-note.note-edit .floatnotes-drag, .floatnotes-note.note-edit .floatnotes-resize {
    border-color: red !important;
    background-color: red !important;
}

.floatnotes-note .floatnotes-content{
	padding: 5px !important;
    overflow:auto !important;
    position:absolute !important;
    top: 0 !important;
    /*bottom: 0 !important;*/
    left:0 !important;
    /*right:0 !important;*/
    z-index:-1 !important;
    -moz-box-sizing: border-box !important;
    width: 100% !important;
    height: 100% !important;
    -moz-border-radius: 5px !important;
}

.floatnotes-note  textarea.floatnotes-text {
	font-family: Arial, sans-serif !important;
	width: 100% !important;
	height: 100% !important;
	-moz-box-sizing: border-box !important;
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px 0px 5px 5px !important;
	z-index:-1;
	-moz-border-radius: 5px !important;
}

/* ------ Note content style ---- */

.floatnotes-note h1 {	
	font-size: 1.4em !important;
}

.floatnotes-note h2 {   
    font-size: 1.1em !important;
}

.floatnotes-note p {   
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.floatnotes-note pre {   
    padding: 5px !important;
    border: 1px dotted #555 !important;
    background-color: #eee !important;
    margin: 5px !important;
}

.floatnotes-note p > code {   
    padding: 2px !important;
    border: 1px dotted #555 !important;
    background-color: #eee !important;
    line-height: 1.2em !important;
}

.floatnotes-note em,  .floatnotes-not strong{   
    font-size: inherit !important;
}

.floatnotes-note ul{   
    padding-left: 20px !important;
}



/*  ----- Indicator styles ----- */

.floatnotes-indicator {
    font-family: Verdana,Arial,sans-serif !important;
    font-size: 12px !important;
    text-align: left !important;
    max-width: 200px !important;
    opacity: .9 !important;
    border: 1px solid black !important;
    z-index: 1000000 !important;
    background-color: #CCC !important;
    color: black !important;
    padding: 5px !important;
    margin-left: 5px !important;
}

.floatnotes-indicator .floatnotes-indicator-container {
    padding: 5px 0 5px 0 !important;	
}

.floatnotes-indicator .floatnotes-indicator-label {
}

.floatnotes-indicator .floatnotes-indicator-text {
    max-height: 50px !important;
    overflow: hidden !important;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    padding:5px !important;
    cursor: pointer !important;
}

.floatnotes-indicator .floatnotes-indicator-text:hover {
    background-color: #FCFACF !important;
}
