/* 
 * This stylesheet is used by the FloatNotes extension for Firefox.
 */


/*  ----- Note style ----- */


@media screen,print {

#floatnotes-container@U@ {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    width: 0px !important;
    height: 0px !important;
    z-index: 99999 !important;
    margin: 0 !important;
    padding: 0 !important;
}

#floatnotes-container@U@.overlay@U@ {
    width: 100% !important;
    height: 100% !important;
}

#floatnotes-container@U@ .note@U@ {
  border: none !important;
  position: absolute !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  min-height: 130px !important;
  min-width: 60px !important;
  margin: 0 !important;
  padding: 0 !important;
}

#floatnotes-container@U@ .note@U@.small@U@ {
    min-height: 16px !important;
    min-width: 24px !important;
    max-height: 16px !important;
    max-width: 24px !important;
    -moz-border-radius: 7px !important;
    -moz-border-radius-bottomright: 0 !important;
    border-radius: 7px !important;
    border-bottom-right-radius: 0px !important;
    opacity: 0.8 !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    padding: 0px !important;
    border: 1px solid #555 !important;
    margin-left: 5px !important;
    margin-top: -12px !important;
}

#floatnotes-container@U@ .note@U@.small@U@ > * {
    display:none !important;
}

#floatnotes-container@U@ .note@U@.small@U@.fixed@U@ {
    border: 2px solid #555 !important;
}

#floatnotes-container@U@ .note@U@.fixed@U@ {
    position: fixed !important;
}

#floatnotes-container@U@ .note@U@.over@U@:not(.edit@U@) {
  margin-left: -22px !important;
}

#floatnotes-container@U@ .note@U@ .drag@U@ {
    height: 20px !important;
    cursor: move !important;
    top: -12px !important;
    left: 5px !important;
    right: 5px !important;
    border: 1px solid #555 !important;
    border-bottom: none !important;
    display: none;
    -moz-box-shadow: 0px -3px 2px #CCC !important;
    -moz-border-radius: 5px 5px 0px 0px !important;
    box-shadow: 0px -3px 2px #CCC !important;
    border-radius: 5px 5px 0px 0px !important;
    text-align: right !important;
    vertical-align: middle !important;
    position: absolute !important;
    z-index: 100 !important;
}

#floatnotes-container@U@ .note@U@.edit@U@ .drag@U@ {
    border-color: red !important;
    border-width: 2px !important;
}

#floatnotes-container@U@ .note@U@.fixed@U@ .drag@U@ {
    border-width: 2px !important;
}

#floatnotes-container@U@ .note@U@.over@U@:not(.edit@U@) .drag@U@ {
  left: 27px !important;
}

#floatnotes-container@U@ .note@U@ .drag-handler@U@ {
    background-color: #222 !important;
    opacity: 0.5 !important;
    height: 15px !important;
    cursor: move !important;
    margin-top: 3px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90% !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

#floatnotes-container@U@ .note@U@.dark@U@ .drag-handler@U@ {
   background-color: white !important;
}

#floatnotes-container@U@ .note@U@ .resize@U@ {
    bottom: 6px !important;
    right: 6px !important;
    width: 16px !important;
    height: 16px !important;
    position: absolute !important;
    cursor: se-resize !important;
    display: none;
    background-image: url('chrome://floatnotes/skin/resize.png') !important;
    z-index: 100 !important;
}

#floatnotes-container@U@ .note@U@.dark@U@ .resize@U@ {
  background-image: url('chrome://floatnotes/skin/resize_white.png') !important;
}

#floatnotes-container@U@ .note@U@ .frame@U@,
#floatnotes-container@U@ .note@U@ .iframe-fix@U@ {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  border: none !important;
  overflow: hidden !important;
}

#floatnotes-container@U@ .note@U@ .iframe-fix@U@ {
  display: none !important;
}

#floatnotes-container@U@ .note@U@.ifix@U@ .iframe-fix@U@ {
  display: block !important;
  z-index: 10 !important;
}


#floatnotes-container@U@.moving@U@ .iframe-fix@U@ {
  display: block !important;
}

/*  ----- Indicator styles ----- */

#floatnotes-container@U@  .indicator@U@ {
    font-family: Verdana,Arial,sans-serif !important;
    text-align: left !important;
    max-width: 200px !important;
    z-index: 1000000 !important;
    background-color: rgba(0,0,0,0.6) !important;
    color: white !important;
    padding: 10px !important;
    display: none;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border: 1px solid white !important;
    position: fixed !important;
    left: 10px !important;
}

#floatnotes-container@U@ .indicator@U@:hover {
  background-color: rgba(0,0,0,0.9) !important;
}

#floatnotes-container@U@ .indicator@U@.above@U@ {
    top: 10px !important;
}

#floatnotes-container@U@ .indicator@U@.below@U@ {
    bottom: 10px !important;
}

#floatnotes-container@U@ .indicator@U@ * {
    color: white !important;
    font-family: inherit !important;
    font-size: 1em !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-weight: normal !important;
    letter-spacing: 0px !important;
    line-height: 1em !important;
    text-align: left !important;
    text-transform: none !important;
    text-decoration: none !important;
    padding: 0px !important;
    margin: 0px !important;
    background: none !important;
    background-color: transparent !important;
    border: none !important;
    vertical-align: baseline !important;
}

#floatnotes-container@U@ .indicator@U@.above@U@:hover .indicator-container@U@ {
  margin-top: 5px !important;
  padding-top: 5px !important; 
  border-top: 1px solid white !important;
}

#floatnotes-container@U@ .indicator@U@.below@U@:hover .indicator-container@U@ {
  margin-bottom: 5px !important;
  padding-bottom: 5px !important; 
  border-bottom: 1px solid white !important;
}

#floatnotes-container@U@ .indicator@U@ .indicator-text@U@ {
    max-height: 50px !important;
    overflow: hidden !important;
    padding: 5px !important;	
    cursor: pointer !important;
    border-radius: 3px !important;
    -moz-border-radius: 3px !important;
}

#floatnotes-container@U@ .indicator@U@ .indicator-text@U@:hover {
    background-color: white !important;
    color: black !important;
    opacity: 0.9 !important;
}
}

@media print {

#floatnotes-container@U@ .note@U@ {
  opacity: 1 !important;
  display: block !important;
  z-index: auto !important;
}

#floatnotes-container@U@ .note@U@ * {
  color: black !important;
}

#floatnotes-container@U@ .note@U@.fixed@U@ {
    position: absolute !important;
}

#floatnotes-container@U@ .indicator@U@ {
    display: none !important;
}

#floatnotes-container@U@ .note@U@ .drag@U@,
#floatnotes-container@U@ .note@U@ .resize@U@ {
  display: none !important;
}
}

