/* 
 * This stylesheet is used by the FloatNotes extension for Firefox.
 */


/*  ----- Note style ----- */


@media screen,print {

#floatnotes-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    z-index: 99999;
}


#floatnotes-container.overlay {
    width: 100%;
    height: 100%;
}

.floatnotes-note {
    border: 1px solid #555 !important;
    font-family: Arial, sans-serif !important;
    text-align:left !important;
    min-height: 80px !important;
    min-width: 60px !important;
    -moz-box-shadow: 0px 0px 5px #888 !important;
    -moz-border-radius: 5px !important;
    position: absolute !important;
    color: black !important;
}

.floatnotes-note * {
    padding:0 !important;
    margin:0 !important;
    font-family: Arial, sans-serif !important;
}

.floatnotes-note.small {
    min-height: 16px !important;
    min-width: 24px !important;
    max-height: 16px !important;
    max-width: 24px !important;
    -moz-border-radius: 7px !important;
    -moz-border-radius-bottomright: 0 !important;
    opacity: 0.8 !important;
    -moz-box-shadow: none !important;
    padding: 0px !important;
}

.floatnotes-note.fixed {
    position: fixed !important;
    border-width: 2px !important;
}

.floatnotes-note.small > * {
    display:none !important;

}

.floatnotes-note.note-edit {
    border-color: red !important;
    border-width: 2px !important;
}

.floatnotes-note .floatnotes-drag{
    height: 20px !important;
    cursor: move !important;
    margin-top:-18px !important;
    margin-left: -1px !important;
    border: 1px solid #555 !important;
    border-bottom: none !important;
    width: 100% !important;
    display: none;
    -moz-box-shadow: 0px -3px 2px #CCC !important;
    -moz-border-radius: 5px 5px 0px 0px;
    text-align: right !important;
    vertical-align: middle !important;
    background-color: inherit !important;
}

.floatnotes-note.note-edit .floatnotes-drag {
    border-color: red !important;
    border-width: 2px !important;
    margin-left: -2px !important;
}

.floatnotes-note.fixed .floatnotes-drag {
    border-width: 2px !important;
    margin-left: -2px !important;
}


.floatnotes-note .floatnotes-drag-handler {
    background-color: #222 !important;
    opacity: 0.5 !important;
    height: 15px !important;
    cursor: move !important;
    margin-top: 3px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 90% !important;
    -moz-border-radius: 5px;
}



.floatnotes-note .floatnotes-menuspacer {
    position: absolute !important;
    top:-10px !important;
    left:-40px !important;
    height: 100px !important;
    display: none;
    width:40px !important;
    margin-right: -1px !important;
}

.floatnotes-note.fixed .floatnotes-menuspacer {
    /*margin-right:-2px;*/
}

.floatnotes-note .floatnotes-menu {
    width: 20px !important;
    float:right !important;
    border: 1px solid #555 !important;
    border-right: none !important;
    -moz-border-radius: 5px 0px 0px 5px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.floatnotes-note.fixed .floatnotes-menu {
    border-width: 2px !important;
}

.floatnotes-note.note-edit .floatnotes-menuspacer {
   display: none !important; 
}


.floatnotes-note .floatnotes-menu-entry {
    background-repeat: no-repeat;
	display: block !important;
    cursor: pointer !important;
    width: 20px !important;
    height: 20px !important;
    margin: 5px 0px !important;
}

.floatnotes-note .floatnotes-togglefix {
    background-image: url('chrome://floatnotes/skin/pin_off.png') !important;
}

.floatnotes-note .floatnotes-togglefix:hover {
    background-image: url('chrome://floatnotes/skin/pin_off_hover.png') !important;
}

.floatnotes-note .floatnotes-edit {
    background-image: url('chrome://floatnotes/skin/settings1_small.png') !important;
}

.floatnotes-note .floatnotes-edit:hover {
    background-image: url('chrome://floatnotes/skin/settings1_small_hover.png') !important;
}

.floatnotes-note .floatnotes-delete {
    background-image: url('chrome://floatnotes/skin/delete_small.png') !important;
}

.floatnotes-note .floatnotes-delete:hover {
    background-image: url('chrome://floatnotes/skin/delete_small_hover.png') !important;
}

.floatnotes-note .floatnotes-resize{
    bottom: 0px !important;
    right: 0px !important;
    width: 16px !important;
    height: 16px !important;
    position: absolute !important;
    cursor: se-resize !important;
    display: none;
    background-image: url('chrome://floatnotes/skin/resize.png') !important;
}

.floatnotes-note iframe {
	padding: 5px !important;
    overflow:auto !important;
    position:absolute !important;
    top: 0 !important;
    /*bottom: 0 !important;*/
    left:0 !important;
    /*right:0 !important;*/
    z-index:-1 !important;
    -moz-box-sizing: border-box !important;
    width: 100% !important;
    height: 100% !important;
    -moz-border-radius: 5px !important;
    background-color: inherit !important;
    border: none !important;
    outline: none !important;
}

.floatnotes-note .iframe-fix {
    top: 0 !important;
    left: 0 !important;
    position: absolute;
    -moz-box-sizing: border-box !important;
    width: 100% !important;
    height: 100% !important;
    display:none;
}

#floatnotes-container.moving .iframe-fix {
    display: block;
} 

/* ------ Note content style ---- */






/*  ----- Indicator styles ----- */

.floatnotes-indicator {
    font-family: Verdana,Arial,sans-serif !important;
    text-align: left !important;
    max-width: 200px !important;
    opacity: .9 !important;
    border: 1px solid black !important;
    z-index: 1000000 !important;
    background-color: #CCC !important;
    color: black !important;
    padding: 5px !important;
    margin-left: 5px !important;
}

.floatnotes-indicator * {
    color: black !important;
    font-family: inherit !important;
    font-size: 1em !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-weight: normal !important;
    letter-spacing: 0px !important;
    line-height: 1em !important;
    text-align: left !important;
    text-transform: none !important;
    text-decoration: none !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    background: none !important;
    background-color: transparent !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left: none !important;
    vertical-align: baseline !important;
}


.floatnotes-indicator .floatnotes-indicator-container {
    padding: 5px 0 5px 0 !important;	
}

.floatnotes-indicator .floatnotes-indicator-label {
}

.floatnotes-indicator .floatnotes-indicator-text {
    max-height: 50px !important;
    overflow: hidden !important;
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
    padding:5px !important;
    cursor: pointer !important;
}

.floatnotes-indicator .floatnotes-indicator-text:hover {
    background-color: #FCFACF !important;
}
}

@media print {

    .floatnotes-note {
        opacity: 1 !important;
        display: block !important;
        z-index: auto !important;
}

.floatnotes-note * {
    color: black !important;
}

.floatnotes-note.fixed {
    position: absolute !important;
}

.floatnotes-indicator {
    display: none !important;
}

.floatnotes-note .floatnotes-menu, 
.floatnotes-note .floatnotes-drag, 
.floatnotes-note .floatnotes-resize {
    display: none !important;
}
}

